@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  Kuziv OLeksiy
    <abbr title="Phone">P:</abbr>
    067-70-61-665
</address>

<address>
    <strong>Support:</strong>   <a href="kuzivoles@gmail.com">kuzivoles@gmail.com</a><br />
   
</address>